.logout-popup {
   width: 100%;
   height: 6rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.logout-header {
   font-family: Lato;
   font-size: 24px;
   font-weight: 500;
   color: var(--black-85);
}
.logout-actions {
   display: flex;
   justify-content: center;
   gap: 1rem;
   width: 100%;
}
