.header {
  font-size: var(--display-font-size);
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1 / span 3;
}

.budget {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr repeat(3, 4fr);
  gap: 1rem;
}
