.financial-goals-wrapper {
  width: 30rem;
  height: 10rem;
  border-radius: 1.5rem;
  background: rgb(249, 107, 242);
  background: linear-gradient(
    108deg,
    rgba(249, 107, 242, 1) 0%,
    rgba(95, 83, 207, 1) 100%
  );
  padding: 1rem;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.financial-goals-header {
  font-size: var(--header-3-font-size);
  color: var(--white);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.financial-goals-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  color: var(--white);
  cursor: pointer;
}
.financial-goals-icon:hover {
  color: var(--primary-25);
}
.financial-goal-item-wrapper {
  width: 100%;
}
.progress-bar {
  width: 100%;
  height: 0.5rem;
  margin-top: 0.2rem;
}
.financial-goal-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--white);
}
.divider {
  color: var(--black-25);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.current {
  font-weight: bold;
}
.goal {
  font-weight: bold;
}
