.habitModal header {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 0.5em 0;
}

.habitModal header > h2 {
   font-size: var(--header-2-font-size);
}

.habitModal header > p {
   line-height: 1.25em;
}

.habitModal form {
   display: flex;
   flex-direction: column;
   gap: 1em;
   padding: 0.5em 0;
}

.habitModal form input {
   padding: 0.5em;
   border-radius: var(--border-radius);
   border: 1px solid var(--primary-color);
}

.habitModal form input:focus {
   outline-color: var(--primary-color);
}

.habitModal form > .form--section {
   display: flex;
   gap: 0.5em;
   flex-direction: column;
}

.habitModal form > .form--section > .input--suffix {
   display: flex;
   align-items: center;
   gap: 0.5em;
}

.habitModal form > .form--section > .input--suffix > input {
   flex-grow: 1;
}

.habitModal form > .buttons {
   display: flex;
   justify-content: center;
   gap: 0.5em;
}

.habitModal form > .buttons > .delete {
   padding: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #ff4757;
}

.habitModal form > .buttons > .delete:hover {
   background-color: color-mix(in srgb, #ff4757, transparent 20%);
}
