.nav_wrapper {
   width: 1.2rem;
   height: 100vh;
   margin-right: 2.8rem;
   background-color: var(--white);
   box-shadow: 5px 3px 33px 8px var(--black-25);
}
.nav {
   margin-top: 5rem;
   width: 4rem;
   height: 20rem;
   border-radius: 1.5rem;
   background-color: var(--white);
   box-shadow: 20px 22px 19px -10px var(--black-25);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   z-index: 1000;
}
.nav-main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin-top: 1rem;
}
.nav-action {
   margin-top: 3rem;
   text-align: center;
   cursor: pointer;
}
.nav-item-icon {
   width: 1.8rem;
   height: 1.8rem;
   display: flex;
   justify-content: center;
   align-items: center;

   stroke: var(--black-50);
   padding: 4px;

   cursor: pointer;
}

.nav-item button {
   background-color: inherit;
   width: 100%;
   display: flex;

   border: none;
}

.nav-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}

.nav-list div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 1rem;
}

.nav-item-active {
   border: 1px solid var(--primary-color);
   border-radius: 100%;
   background-color: var(--primary-color);
   stroke: var(--white);
}
