.budget-view {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
}

.budget-header {
  font-size: var(--header-2-font-size);
  margin-bottom: 1rem;
}

.budget-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45rem;
  height: 20rem;
  position: relative;
  background-color: var(--white);
  border-radius: 1rem;
}
.chart {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.budget-chart-options ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}

.budget-chart-options ul li {
  color: var(--white);
  font-size: 0.8rem;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 33%;
  text-align: center;
  cursor: pointer;
}

.budget-chart-options {
  width: 15rem;
  background-color: var(--secondary-150);
  border-radius: 1rem;
}
.budget-chart-option-item-active {
  background: rgb(95, 83, 207);
  background: linear-gradient(
    108deg,
    rgba(95, 83, 207, 1) 5%,
    rgba(150, 213, 236, 1) 100%
  );
  border-radius: 1rem;
  font-weight: 600;
}
