.header {
  margin-top: 1rem;
}

.welcome {
  font-size: 48px;
}
.username-display {
  margin-top: 0.7rem;
  font-size: 64px;
  font-weight: bold;
}

/* .dashboard-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  user-select: none;
} */
.dashboard-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  user-select: none;
}
