.picker {
   padding: 15px;
   border-radius: 100vw;
   background-color: var(--white);
   overflow: hidden;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   box-shadow: 4px 4px 10px -3px var(--black-85);
}

.day {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100vw;
   width: 1em;
   height: 1em;
   padding: 10px;
   aspect-ratio: 1 / 1;
   transition: background-color 0.2s;
   cursor: pointer;
}

.day.pastDay {
   color: var(--black-25);
}

.day.today {
   color: var(--primary-color);
   font-weight: 900;
}

.day:hover {
   background-color: color-mix(in srgb, transparent, var(--black-100) 10%);
}

.chosenDay {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 100vw;
   height: 1em;
   padding: 10px;
   transition: background-color 0.2s;
   cursor: pointer;
   background: linear-gradient(
      108deg,
      rgba(138, 45, 187, 1) 11%,
      rgba(226, 52, 226, 1) 52%,
      rgba(255, 136, 244, 1) 99%
   );
   color: var(--white);
}

.chosenDay:hover {
   background: linear-gradient(
      108deg,
      rgba(138, 45, 187, 1) 11%,
      rgba(226, 52, 226, 1) 52%,
      rgba(255, 136, 244, 1) 99%
   );
}
