.progressBarWithButtons {
   padding: 25px 0;
   display: flex;
   gap: 30px;
}

.buttons {
   display: flex;
   gap: 15px;
}

.button {
   border: none;
   border-radius: 100%;
   aspect-ratio: 1 / 1;
   background-color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: background-color 0.2s;
   box-shadow: 4px 4px 10px -3px var(--black-85);
}

.button:hover {
   background-color: color-mix(in srgb, var(--white), var(--black-100) 10%);
}

.progressBar {
   margin: 12px 0;
   flex-grow: 1;
   background-color: var(--white);
   border-radius: 100vw;
   box-shadow: 4px 4px 10px -3px var(--black-85);
   overflow: hidden;
}

.progressBar-fill {
   display: block;
   width: 0%;
   height: 100%;
   border-radius: 100vw;
   /* background-color: var(--primary-color); */
   background: linear-gradient(
      108deg,
      rgba(138, 45, 187, 1) 11%,
      rgba(226, 52, 226, 1) 52%,
      rgba(255, 136, 244, 1) 99%
   );
}

.progressText {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}
