.progressBarWithButtons {
   padding: 25px 0;
   display: flex;
   gap: 30px;
}

.progressBar {
   margin: 10px 0;
   border: 2px solid var(--white);
}

.progressText {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}
