.taskList {
   margin: 10px 0;
   display: flex;
   flex-direction: column;
}

.taskList-header {
   padding: 5px 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight: bold;
   background-color: var(--secondary-color);
}

.taskList-header > span {
   margin-left: 15px;
   font-weight: normal;
}
